.img-card{
    width: auto;
    height: 70vh;
    display: flex;
}

.titulo-card{
    font-size: 2em;
    font-weight: bold;
    color: #000;
}
.header-cor{
    background-color: #558ec7;
}

.button-color{
    background-color: #028146;
    color: white;
}
.body-color{
    background-color: #558ec7;
}